<!doctype.html>
<html>
<head>
    <title> Forgetmenot </title>
     <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
     <!-- my sttyle.css -->
    <link href="/static/style.css" rel="stylesheet" type='text/css'>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>

</head>
<body>
    <div id="alert-section"> </div>
    <h1>Foregetmenot</h2>
    <i>"For those likes you want to remember"<i>
    <hr> <!--horizontal row !--> 
   <strong>{% for message in get_flashed_messages() %}
        {{message}}  <!--enables my flash messages !--> 
    {% endfor %} </strong> 

    {% block content %} 


    put your content here 


    {% endblock %}

</body>
</html> 