{% extends 'base.html' %}
{% block content %}


<div>
    <h2>Forgetmenot favorited photos:</h2>
                <!--likedimage = list !--> 

    <form  id="visited-validation-form" action="/placesvisited" method="POST">
        
   
    {% for image in likedimages %}
        
        <!--grabbing attribute from object, and links to place profile !--> 
        <a href = "/likedimageinfo/{{ image.place.place_id }}">
        
        <img class="likedimage" src="{{ image.image_url }} "> </a></td>
        
        <a href = "/likedimageinfo/{{ image.place.place_id }}"> 
            {{ image.place.place_name }} </a></td> 

        Location:{{ image.place.address }}
    
        <!--Input changed to radio buttons of places user has visited !--> 
        <label> Visited? 
            <p>
                {{ image.place.place_id }}
             <input type="radio" name="{{ image.place.place_id }}" value="yes"
             {% if image.visited %} checked 
                {% endif %}>Yes
             <input type="radio" name="{{ image.place.place_id }}" value="no">No
            </p>
        </label>

    {% endfor %}

    </form>
    
    <!--Submitting form via JS !--> 
    <script>

    $('#visited-validation-form input[type=radio]').on('click', submitMyForm);

    function submitMyForm() {
        alert("Visited places updated!")
        $('#visited-validation-form').submit();
    }

    </script> 
   
</div>

{% endblock %}