{% extends 'base.html' %}
{% block content %}

<h1>Forgetmenot </h1>

<h2><i>"For those likes you want to remember"</u></h2><br>

<h2>My Profile</h2>
<p><a href="/myprofile">View my profile</a></p>

<h2>Forgetmenot favorites</h2>
<p><a href="/forgetmenotfavorties">View all posts you have favorited </a></p>

<h2>Favorited image profile </h2>
<p><a href="/favoritedinfo">Learn more about the post</a></p>

<h2>Forgetmenot Map</h2>
<p><a href="/mapmehere">Find your favorite post on the map!</a></p>

{% endblock %}