{% extends 'base.html' %}
{% block content %}

<div>
    <h1>My Profile  </h1> <br>
</div>

<div>
    <h3> Welcome:  <strong> {{ username }} </strong><br></h3>
</div>

<div>
    {% if session['user_id'] %}
        <img src = "{{ profile_picture }}"> <br><br>
    {% endif %}
</div>

<div>
    <a href="/forgetmenotfavorites"> Back to Forgetmenot Favorites</a>
</div>

<div>
    <h3>Places Visited: </h3>
   
    <p> I have visited: <strong> {{ visited }} </strong> of  <strong>{{ user.LikedImage|count }} </strong> Places </p><br> 

    <table>
        {% for image in user.LikedImage %}
            {% if image.visited %}
               <tr>                            <!--grabbing attribute from object !--> 
                    <td>
                        <a href = "/likedimageinfo/{{ image.place_id }}">
                        <img class="likedimage" src="{{ image.image_url }} "> </a>
                    </td>
                    
                    <td> 
                        <a href = "/likedimageinfo/{{ image.place.place_id }}"> 
                        {{ image.place.place_name }}</a>
                    </td> 
                    
                    <td> 
                        <label> Visited? <!--enter checkbox here !--> 
                            <input type="checkbox" name="visited" value="{{ image.liked_image_id  }}"
                                
                                {% if image.visited %} checked 
                                
                                {% endif %}> Yes
                        </label>
                    </td>
                </tr>
            {% endif %}
        {% endfor %} </table>


{% endblock %}

