{% extends 'base.html' %}
{% block content %}

<title> Favorited Instagrams to remember </title> 
  <div>
    <h3>Returning user? </h3> 
  </div> 

 
    Login here <strong><u> only</u> </strong> if your account has been authenticated already.  <br><br>


  <form action="/login_confirmation" method="POST"> <!--this form can only be one method at a time so its "method" not "methods" -->
      
    <div>
      <label>Username:
          <input type="text" name="username" placeholder="username"><br>
      </label>
    </div>

    <div>
      <label>password
          <input type="password" name="password" placeholder="password"><br><br>
      </label>
    </div>

    <div> 
      <input type="submit" value="login"><br>
    </div>
  
  </form><br>
  
  <a href="/new_user">New User? Click here</a>



{% endblock %}